{% trans_default_domain 'FOSUserBundle' %}

<img alt="logo" src="{{ asset('image/' ~ user.id ~'/' ~ user.image)}}" width=200 hight=400 />
<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
